.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.vue-tel-input {
  border: 0px !important;
}
.multiselect {
  border: 0px !important;
}
